<p id="notice"><%= notice %></p>
<div class="container">
<h1>Products</h1>

<table>  
    <tbody id="products-content">
      <%= render @products %>
    </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_product_path if can? :create, @product %>
